body {
  margin: 0;
}

.header {
  background-color: red;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  margin: 0;
}

.links {
  display: flex;
  flex-direction: row;
  height: 2rem;
  background-color: gray;
  gap: 1rem;
  margin: 0;
  list-style: none;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgray;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  top: 4rem;
}

.link:hover {
  background-color: black;
}

.link:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dd-link {
  margin: 0.5rem;
}
